footer {
    display: flex;
    justify-content: space-around;
    background-color: #1282A2;
    padding: 1em;

    ul {
        padding-left: 0 !important;

        a {
            font-family: 'Archivo Narrow', sans-serif;
            text-decoration: none;
            color: #edfdef;
        }
    }

    img {
        height: 120px;
    }
}
