/*texto principal*/

h1 {
    font-family: $titulos;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: $subtitulos;
}

.texto_principal {
    
    padding: 20px;
    background-color: #f0f3fa;

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}

.cuadros {

    img {
        display: block;
        width: 65%;
        margin: auto;
        border-radius: 30px 30px 0 0;
    }

    ul {
        margin-top: 20px;

        h3 {
            text-align: center;
            margin: auto;
        }
    }
    a{
        text-decoration: none;
        color: #1282A2;
        }
}

/*destacados*/
.c_destacados {
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;

    h2 {
        color: #1282A2;
        padding-top: 10px;
    }
}


.uno,
.dos,
.tres {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: aliceblue;
    img{
        width: 95%;
    }
}

.boton_u {
    text-decoration: none;
    background-color: #1282A2;
    color: #edfdef;
    border-radius: 10%;
    padding: 8px;
    margin-top: 1000px;
}


@media (min-width: 650px) {

    .cuadros {
        p {
            width: 80%;
            margin: auto;
        }
       
    }

    .detalle_cuadro {
        padding-left: 10%;
    }

    .flex_destacados {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        width: 100%;
        justify-content: space-evenly;
    }

    .flex_a {
        width: 75%;
    }

    .uno {
        width: 100%;
    }

    .flex_b {
        width: 43%;
    }

    .dos,
    .tres {
        width: 100%;
    }
}

@media (min-width: 992px) {

    .cuadros {
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: 40px;

        ul :not(.detalle_cuadro) {
            width: 400px;
        }

        ul h3 {
            text-align: left;
        }

        img {
            width: 300px;
            margin: 0;
        }
    }

    .detalle_cuadro {
        padding-left: 0;
    }

    .flex_destacados {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .flex_a,
    .flex_b {
        width: 300px;
        margin: 0;
    }

    .b {
        order: -1;
    }
}